header {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $raleway;
    position: relative;
    .logo {
      text-transform: uppercase;
      padding: 20px 15px;
      font-weight: 600;
      font-size: 17px;
      color: black;
      letter-spacing: 3px;
      cursor: pointer;
      &:hover {
        background-color: rgb(190, 190, 190);
      }
    }
    .nav {
      @media (max-width: $medium) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: rgba(196, 192, 192, 0.938);
        height: 100vh;
        text-align: center;
        padding-top: 60px;
        transform: translateY(100%);
      }
      .menu__item {
        padding: 20px 15px;
        font-weight: 600;
        color: black;
        font-size: 15px;
        letter-spacing: 1.5px;
        display: block;
        cursor: pointer;
        @media (max-width: $medium) {
          font-size: 20px;
        }
        &:hover {
          background-color: rgb(190, 190, 190);
        }
        i {
          color: black;
          padding-right: 7px;
        }
      }
      .hidden {
        @media (min-width: $medium) {
          display: inline-block;
        }
      }
    }
    .on {
      @media (max-width: $medium) {
        transform: translateY(0%);
        transition: 1s;
      }
    }
    .hidden__menu {
      padding: 20px 15px;
      color: black;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        background-color: rgb(190, 190, 190);
      }
      i {
        color: black;
        font-size: 17px;
      }
      @media (min-width: $medium) {
        display: none;
      }
    }
  }
  a {
    color: black;
  }
}

.main__introduction {
  width: 100%;
  height: 100vh;
  background-image: url(../img/Apple-Macbook-Dark-Wallpaper-1440x900.jpg);
  background-repeat: no-repeat;
  opacity: 0.99;
  background-size: cover;
  background-position: center;
  background-color: black;
  @media (orientation: landscape) and (hover: none) and (pointer: coarse) and (min-width: $medium) {
    height: 600px;
  }
  .inside__boxcenter {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .inside__box {
      margin-top: 60px;
      width: 100%;
      padding: 0px 30px;
      @media (min-width: $medium) {
        padding: 0px 60px;
      }
      h1 {
        color: white;
        font-size: 40px;
        line-height: 65px;
        font-family: $noto;
        display: inline-block;
        @media (min-width: $medium) {
          font-size: 55px;
          padding: 20px 0px;
          margin-top: 100px;
        }
        @media (orientation: landscape) and (hover: none) and (pointer: coarse) and (min-width: $large) {
          font-size: 45px;
          padding: 15px 0px;
        }
      }
      h2 {
        color: white;
        font-family: $raleway;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 30px;
        display: inline-block;
        @media (min-width: $medium) {
          font-size: 25px;
          padding: 20px 0px;
        }
        @media (orientation: landscape) and (hover: none) and (pointer: coarse) and (min-width: $large) {
          font-size: 20px;
          padding: 5px 0px;
        }
      }
      .btn {
        width: 100%;
        padding: 35px 0px;
        display: inline-block;
        @media (orientation: landscape) and (hover: none) and (pointer: coarse) and (min-width: $large) {
          padding: 10px 0px;
        }
        button {
          width: 270px;
          height: 60px;
          font-size: 18px;
          background-color: white;
          opacity: 0.65;
          font-family: $raleway;
          color: black;
          font-weight: 600;
          &:hover {
            opacity: 0.8;
            @media (max-width: $medium) {
              // pointer-events: none;
            }
          }
          @media (min-width: $medium) {
            font-size: 20px;
            width: 290px;
          }
        }
      }
    }
  }
  .icon__row {
    padding: 0px 0px 0px 30px;
    display: inline-block;
    @media (min-width: $medium) {
      padding: 0px 60px;
    }
    a {
      color: white;
      opacity: 0.5;
      padding: 2px;
      font-size: 18px;
      &:hover {
        opacity: 0.8;
        padding: 3px;
      }
      @media (min-width: $medium) {
        font-size: 22px;
      }
    }
  }
}

.main__about {
  width: 100%;
  font-family: $raleway;
  font-weight: 600;
  text-align: center;
  padding: 100px 50px;
  display: inline-block;
  .box__about1 {
    h2 {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 900;
      padding: 20px 0px;
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
      padding: 20px 0px;
    }
  }
  .box__about2 {
    width: 100%;
    @media (min-width: $medium) {
      justify-content: center;
      align-items: center;
    }
    .about__box {
      padding: 5px;
      @media (min-width: $medium) {
        width: calc(100% / 4);
        float: left;
      }
      i {
        font-size: 65px;
        padding: 15px 0px;
      }
      h3 {
        font-weight: 600;
        font-size: 20px;
        padding: 20px 0px;
      }
      p {
        font-weight: 600;
        font-size: 15px;
        padding-bottom: 20px;
        line-height: 30px;
      }
    }
  }
}

.main__weknowdesign {
  display: inline-block;
  font-family: $noto;
  background-color: rgb(236, 236, 236);
  padding: 100px 50px;
  width: 100%;
  .box__weknowdesign {
    display: block;
    @media (min-width: $medium) {
      width: calc(100% / 2);
      float: left;
    }
    h2 {
      font-size: 25px;
      text-align: left;
      padding: 20px 0px;
      @media (min-width: $large) {
        font-size: 35px;
      }
    }
    p {
      padding: 20px 0px;
      line-height: 30px;
      @media (min-width: $large) {
        font-size: 20px;
        padding-right: 5px;
      }
    }
    button {
      padding: 10px;
      font-size: 15px;
      background-color: black;
      color: white;
      border-radius: 3px;
      margin: 20px 0px;
      @media (min-width: $large) {
        font-size: 15px;
      }
      i {
        padding-right: 5px;
      }
    }
    img {
      width: 100%;
      @media (min-width: $medium) {
        padding: 10px;
      }
    }
  }
}

.main__team {
  width: 100%;
  font-family: $noto;
  padding: 100px 50px;
  display: inline-block;
  @media (min-width: $medium) {
    padding: 100px 20px;
  }
  h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px 0px;
  }
  h2 {
    text-align: center;
    font-size: 15px;
    padding: 20px 0px;
  }
  .box__teammain {
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    @media (min-width: $medium) {
      padding-left: 2%;
    }
    @media (min-width: $extralarge) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0%;
    }
    .box__team {
      margin: 15px 0px;
      box-shadow: 3px 8px 25px rgba(104, 100, 100, 0.4);
      @media (min-width: $medium) {
        width: calc(95% / 2);
        float: left;
        margin: 5px 5px;
      }
      @media (min-width: $extralarge) {
        width: calc(100% / 4);
        float: left;
      }
      img {
        width: 100%;
        filter: grayscale(60%);
      }
      h2 {
        text-align: left;
        font-size: 20px;
        padding: 15px 10px;
        font-weight: 600;
      }
      h3 {
        font-size: 15px;
        padding: 15px 10px;
        color: rgb(163, 163, 163);
      }
      p {
        font-size: 15px;
        padding: 15px 10px;
        line-height: 30px;
      }
      .btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          width: 94%;
          height: 30px;
          margin: 10px;
          background-color: rgb(236, 236, 236);
          border-radius: 3px;
          box-shadow: 10px grey;
          &:hover{
            background-color: rgb(199, 199, 199);
          }
          @media (min-width: $extralarge) {
            width: 90%;
          }
          i {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

.main__achievements {
  width: 100%;
  display: inline-block;
  background-color: rgb(88, 86, 86);
  padding: 50px;
  .box__achievements {
    width: 95%;
    text-align: center;
    font-family: $raleway;
    @media (min-width: $medium) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .achievement {
      width: 100%;
      @media (min-width: $medium) {
        width: calc(100% / 4);
      }
      h2 {
        font-size: 30px;
        font-weight: 900;
        color: whitesmoke;
        padding: 10px 0px;
        letter-spacing: 3px;
      }
      p {
        font-size: 15px;
        font-weight: 600;
        color: whitesmoke;
        padding: 10px 0px;
        letter-spacing: 1px;
      }
    }
  }
}
